<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Source</th>
      <th>Year</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <% decorated_question = QuestionDecorator.new(question) %>
      <tr>
        <td><%= decorated_question.content %></td>
        <td><%= decorated_question.source %></td>
        <td><%= l(decorated_question.year, format: :only_year) %></td>
        <td><%= decorated_question.user_name %></td>
        <td><%= decorated_question.simple_status %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
